.bt {
    text-align: center;
    padding: 20px 40px;
    background-color: antiquewhite;
    border: 5px solid greenyellow;
    border-radius: 3px;
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.bt-container {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 20px;
}

.results {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.bt-reset {
    padding: 20px 50px;
    border: 5px solid green;
    border-radius: 2px;
    background-color: bisque;
    color: brown;
    visibility: hidden;
}

    